@import url('https://fonts.googleapis.com/css?family=Oswald');

// =================
// COLORS
// =================

	$black: #080808;
	$brown: #640303;
	$board: #fafaf8;
	$darkpurple: #5e3577;
	$lightblue: #d2eaf5;
	$purple: #b02f7c;
	$orange: #fa811d;
	$red: #f50c2b;
	$yellow: #ffed20;
	$green: #41994e;
	$darkblue: #5a6dba;

	// Property colors

	.darkpurple { background: $darkpurple; }
	.lightblue  { background: $lightblue; }
	.purple      { background: $purple; }
	.orange      { background: $orange; }
	.red         { background: $red; }
	.yellow      { background: $yellow; }
	.green       { background: $green; }
	.darkblue   { background: $darkblue; }


// =================
// GLOBAL
// =================
	body {
		margin: 0;
		font-family: 'Oswald', sans-serif;
		font-weight: 400;
	  font-size: 10px;
	  color: black;
	  text-transform: uppercase;
	}
	.table {
		padding-left: 15em;
		padding-right: 15em;
	}
	.board {
		border: 5px solid black;
		margin: 0 auto;
		width: 100em;
		height: 100em;
	}
	.center {
		margin: 100px 8em;
		height: auto;
		border: 5px solid black;
		background-color: #eee;
	}
	.cardDiscard {
		margin: 0 auto;
		border: 5px dotted black;
		width: 300px;
		height: 500px;
		margin-top: 1em;
	}
	.cardDraw {
		margin: 0 auto;
		border: 5px dotted black;
		width: 300px;
		height: 500px;
		margin-bottom: 1em;
	}

	.CardActionArea {
		padding-top: 2em;
		padding-bottom: 2em;
	}

	#Text1 {
		font-size: 60px;
		text-align: center;
	}

	#Text2 {
		font-size: 20px;
		text-align: center;
	}

	.title {
		margin: 0 auto;
		padding: 20px;
		width: 500px;
		height: auto;
		font-family: 'Oswald', sans-serif;
		position: relative;
		text-align: center;
	}

	.title h1 {
		letter-spacing: 5px;
		font-size: 100px;
	}

	.title h3 {
		letter-spacing: 2px;
		font-size: 70px;
	}
