@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
/*
// =================
// COLORS
// =================
*/
	$black: #080808;
	$brown: #640303;
	$board: #fafaf8;
	$darkpurple: #5e3577;
	$lightblue: #d2eaf5;
	$purple: #b02f7c;
	$orange: #fa811d;
	$red: #f50c2b;
	$yellow: #ffed20;
	$green: #41994e;
	$darkblue: #5a6dba;

	// Property colors

	.darkpurple { background: $darkpurple; }
	.lightblue  { background: $lightblue; }
	.purple      { background: $purple; }
	.orange      { background: $orange; }
	.red         { background: $red; }
	.yellow      { background: $yellow; }
	.green       { background: $green; }
	.darkblue   { background: $darkblue; }

/*
// =================
// GLOBAL
// =================
*/
* {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
																supported by Chrome and Opera */
}
	body {
		margin: 0;
		padding: 0;
		font-weight: 300;
	  font-size: 10px;
	  color: black;
	  text-transform: uppercase;
	}
	.table {
		padding-left: 15em;
		padding-right: 15em;
	}
	.board {
		border: 5px solid black;
		margin: 0 auto;
		width: auto;
		height: auto;

	}
	/*
	// ======================
	// CENTER OF THE BOARD
	// ======================
	*/
	.center {
		height: auto;
		border: 5px solid black;
		background-color: lightblue;
	}
	.cardDiscard {
		margin: 0 auto;
		width: 300px;
		height: auto;
		margin-top: 1em;
		transform: rotate(90deg);
	}
	.cardDraw {
		margin: 0 auto;
		width: 300px;
		height: auto;
		margin-bottom: 1em;
		transform: rotate(90deg);
	}

	.CardActionArea {
		padding-top: 2em;
		padding-bottom: 2em;
		text-align: center;
		transform: rotate(-90deg);
		line-height: 12px;
	}

	#Text1 {
		font-size: 50px;
	}

	#Text2 {
		font-size: 20px;
	}

	.title {
		margin: 0 auto;
		padding: -20px;
		width: 500px;
		height: auto;
		font-family: 'Slabo 27px', serif;
		position: relative;
		text-align: center;
	}

	.title h1 {
		letter-spacing: 5px;
		text-transform: uppercase;
		font-size: 100px;
	}

	.title h3 {
		letter-spacing: 2px;
		font-size: 40px;
	}
	/*
	// ======================
	// MOVE AREA OF THE BOARD
	// ======================
	*/
	#square {

	}
	.moveBlocks {
		width: auto;
		height: 60px;
		border: 5px solid black;
		color: #0000;

	}
	.row {
		display: grid;
		grid-gap: 2px;
	}

	.horizontal-row {
		display: grid;
		grid-template-columns: repeat(16, 1fr);
		grid-template-rows: auto;
	}
	.vertical-row {
		display: grid;
		grid-template-columns: repeat(16, 1fr);
		grid-template-columns: auto;
	}

	.bottomMoveArea {
		display: grid;
		grid-template-columns: repeat(16, 1fr);
		grid-template-rows: auto;
	}
	.rightMoveArea {
		display: grid;
		grid-template-rows: repeat(16, 1fr);

	}
	.leftMoveArea {
		display: grid;
		grid-template-rows: repeat(16, 1fr);
		grid-al
	}
