@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
/*
// =================
// COLORS
// =================
*/
	$black: #080808;
	$brown: #640303;
	$board: #fafaf8;
	$darkpurple: #5e3577;
	$lightblue: #d2eaf5;
	$purple: #b02f7c;
	$orange: #fa811d;
	$red: #f50c2b;
	$yellow: #ffed20;
	$green: #41994e;
	$darkblue: #5a6dba;

	// Property colors

	.darkpurple { background: $darkpurple; }
	.lightblue  { background: $lightblue; }
	.purple      { background: $purple; }
	.orange      { background: $orange; }
	.red         { background: $red; }
	.yellow      { background: $yellow; }
	.green       { background: $green; }
	.darkblue   { background: $darkblue; }

/*
// =================
// GLOBAL
// =================
*/

	body {
		margin: 0;
		padding: 0;
		font-weight: 300;
	  font-size: 10px;
	  color: black;
	  text-transform: uppercase;
	}
	.table {
		padding-left: 15em;
		padding-right: 15em;
	}
	.board {
		border: 5px solid black;
		margin: 0 auto;
		width: auto;
		height: auto;
	}
	/*
	// ======================
	// CENTER OF THE BOARD
	// ======================
	*/
	.center {
		height: auto;
		border: 5px solid black;
		background-color: #eee;
	}
	.content {
		width: 100%;
		text-align: center;
	}
	.cardDiscard {
		display: inline-block;
		margin: 0 auto;
		width: 300px;
		margin-top: 1em;
		transform: rotate(90deg);
	}
	.cardDraw {
		display: inline-block;
		margin: 0 auto;
		width: 300px;
		height: auto;
		margin-bottom: -4em;
		transform: rotate(90deg);
	}

	.Current-Question {
		padding-top: 2em;
		padding-bottom: 2em;
		text-align: center;
		transform: rotate(-90deg);
		line-height: 12px;
	}
	.start-red {
		float: left;
		width: 100px;
	}
	.home-red {
		float: right;
		width: 100px;
	}
	.home-blue {
		float: right;
		width: 100px;
	}
	.start-blue {
		float: left;
		width: 100px;
	}
	#Text1 {
		font-size: 20px;
	}

	#Text2 {
		font-size: 20px;
	}

	.title {
		margin: 0 auto;
		padding: -20px;
		width: 500px;
		height: auto;
		font-family: 'Slabo 27px', serif;
		position: relative;
		text-align: center;
		background: url("../tools/gfx/HomePicture.png");
		background-position-y: 25%;
	}

	.title h1 {
		letter-spacing: 5px;
		text-transform: uppercase;
		font-size: 100px;
	}

	.title h3 {
		letter-spacing: 2px;
		font-size: 40px;
		font-weight: bold;
	}

	/*
	// ======================
	// MOVE AREA OF THE BOARD
	// ======================
	*/

	.moveBlocks {
		border: 2px solid black;
		color: #0000;
	}
	.interImg {
		height: 60px;
		width: auto;
		overflow: hidden;
	}
	.horizontal-row {
		display: grid;
		grid-template-columns: repeat(16, 1fr);
		grid-template-rows: auto;
		width: auto;
		height: 60px;
	}
